{% extends 'post/base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header p-3 pl-5" >
        <div class="card-body">
    <h1>Создать публикацию</h1>
<br>
            <form method="POST" enctype="multipart/form-data">
                <div>
                {% csrf_token %}
                 {% for field in form %}
                    <div class="field">
                        <p>{{ field.name }}</p>
                        <p>{{ field }}</p>
                    </div>
                {% endfor %}
                <button type="submit" class="button is-link">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

